@font-face {
    font-family: 'Mak';
    src: url('Mak-Light.woff2') format('woff2'),
        url('Mak-Light.woff') format('woff');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Kudry Weird Headline';
    src: url('Kudry-WeirdHeadline.woff2') format('woff2'),
        url('Kudry-WeirdHeadline.woff') format('woff');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}



